body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 { padding-left:20px;}
.game {
  max-width: 600px;
  margin: 0 auto;
  border: thin solid #ddd;
  margin-top:20px;
}

.body {
  display: flex;
}

.help {
  color: #666;
  margin: 30px ;
  text-align: center;
}

.main {
  text-align: center;
  width: 50%;
  border: thin solid #ddd
}

.main-help {
  width:50%;
  text-align: center;
  border: thin solid #ddd
}

.number {
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}

.number:focus, .number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer {
	color: #666;
  margin: 20px;
}

.game-done  {
  background-color:lightgreen;
  padding:5px;
  text-align:center;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}